<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>資料庫更新</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
    <div class="navbar-header">
    <a class="navbar-brand" href="/home">檢索系統 </a>
    </div>
    </div>
    </nav>
    <h1>{{stat}}</h1>
    <ul> 
      <li>新增 : 
      {% for n in upgarde %}
        {{n}}<br>
      {% endfor %} </li>
      <li>目前新聞篇數 = {{news_amount}} 篇</li>
    </ul>
  </body>
</html>