{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>文件摘要應用與實作</title>
<link href='http://fonts.googleapis.com/css?family=Archivo+Narrow:400,700|Open+Sans:400,300' rel='stylesheet' type='text/css' />
<link href="{% static 'home.css' %}" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo">
				<h1>文件摘要應用與實作 </h1>
			</div>
			<div id="menu">
				<ul>
					<li class="current_page_item"><a href="/">專案首頁</a></li>
					<li><a href="/summarynews">新聞摘要</a></li>
					<li><a href="/summarytext">文件摘要</a></li>

				</ul>
			</div>
		</div>
		<div id="banner">
			<div class="content"><img src="{% static 'images/img02.png' %}" width="1000" height="300" alt="" /></div>
		</div>
	</div>
	<!-- <div style="clear: both;">&nbsp;</div> -->
	</div>
	<!-- end #page --> 
</div>
<div id="footer">
	<p>第15組 文件摘要的應用與實作 組員：張智崴、高偉峰、陳昱臻、張莉敏</p>
</div>
<!-- end #footer -->
</body>
</html>