{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>新聞檢索系統</title>

<!----------------- css ----------------->
<link href='http://fonts.googleapis.com/css?family=Archivo+Narrow:400,700|Open+Sans:400,300' rel='stylesheet' type='text/css' />
<link href="{% static 'summary_news.css' %}" rel="stylesheet" type="text/css" media="screen" />
<!----------------- css ----------------->

<!----------------- javascript ----------------->
<script src="{% static 'summary_news.js' %}"></script>
<!----------------- javascript ----------------->

</head>
<body>
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo">
				<h1><strong>新聞檢索系統</strong></h1>
			</div>
			<div id="menu">
				<ul>
					<li><a href="/">專案首頁</a></li>
					<li class="current_page_item"><a href="/summarynews">新聞摘要</a></li>
					<li><a href="/summarytext">文件摘要</a></li>
				</ul>
			</div>
		</div>
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- 上方menu -->
	<div id="splash">
		<form id="search"action="/summarynews/" method="get">
			<input id="search-text" type="text" placeholder="輸入新聞標題以搜尋···" id="searchs" name="searchs" >
		    <button id="search-submit" type="submit">Search</button>
		</form>
	</div>
	<!-- 搜尋框 -->
	<!-- end #header -->
	<div id="page">
		<div id="content">
		     {% for n, m in news_list %}
				<div class="post">
			        <h1 class="title"><a href="{{n.news_url}}"><strong>{{n.news_name}}</strong></a></h1>
					<p class="meta"><span class="date">{{n.news_date}}</span><span class="posted">{{n.news_type}}</span></p>
					<div style="clear: both;">&nbsp;</div>
				<div class="entry">
					{{m}}
					<p class="links"><a href="{{n.news_url}}" class="more">新聞原文</a></p>
				</div>
			    </div>
    		{% endfor %}
	<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end #content -->
	<div id="sidebar">
		<ul>
			<li>
				<h2>最新消息</h2>
				<ul>
					{%for i, j in latest_news_list%}
    				


					<li><a href="{{i.news_url}}">{{i.news_name}}</a><br><input id="search-submit" type="button" value = "摘要" onclick="alert('{{j}}');"/></li>

    				{% endfor %}
				</ul>
			</li>
			<li>
				<h2>熱門新聞</h2>
				<ul>
					{%for k, l in hot_news_list%}
					<li><a href="{{k.news_url}}">{{k.news_name}}</a><br><input id="search-submit" type="button" value = "摘要" onclick="alert('{{l}}');"/></li>

    				{% endfor %}
					
				</ul>
			</li>
		</ul>
	</div>
	<!-- end #sidebar -->
	<div style="clear: both;">&nbsp;</div>
	</div>
</div>
	<!-- end #page --> 



<div id="footer">
	<p>&copy;第15組 文件摘要的應用與實作 組員：張智崴、高偉峰、陳昱臻、張莉敏</p>
</div>
<!-- end #footer -->
</body>
</html>